*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: black;
  opacity: .7;
  color:white;
}

.heading {
  margin: .5em auto;
  text-align: center;
  color: var(--color-sub);
  font-size: 3.5em;
  font-weight: 400;
}

.first {
  float: right;
  text-align: center;
  width: 90%;
  padding-right: 4.5em;

}

.right{
  float: right;
  width: 40%;
 
}
.left{
  float: left;
  width: 40%;
 
}

.container {
  max-width: 1300px;
  margin: .5em auto;
  padding: .5em;
}

.compititors{
  float: left;
  width: 28%;
  background: skyblue;
}

.player{
  float:left;
  width:48%;
  text-align: center;
}

.player h2,p,div{
  padding: .2em 0;

}

.computer h2,p,div{
  padding: .2em 0;
}
.computer{
  float: right;
  width: 48%;
  text-align: center;
}
.message{
  text-align: center;
  width: 100%;
  float:left;
  margin-top: 1.5em;
}

.images{
  float: right;
  width:75%;
  padding-bottom: 2em;
  margin: .4em 8em;
  padding-right: 50px;
}
.img{
  width:100%;
  height:11em;

}

img:hover{
  box-shadow: .5em .5em .5em .5em grey;
  cursor:pointer;
}
.button{
   float: right;
   width:31%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: .3em;
  background: black;
  text-decoration: none;
  border: 1px solid black;
}
.button p {
  color: white;
  text-decoration: none;
 }

.choices {
   width: 100%;
   text-align: center;
   font-size: 1.5em;
   float: right;
 }

 #reset {
  padding: .4em;
  font-size: .8em;
  margin-top: 1em;
  transition: 100;
  cursor: pointer;
 }
 #reset:hover{
  background: orange;
  box-shadow: .3em .3em .3em grey;
 }

 @media only screen and (max-device-width: 480px) {

   .button {
    float:left;
    display: block;
    margin-left: 11em;
   }
   .compititors{
    width: 100%;
   }
   .left {
    margin-left: 4em;
   }
 }

 @media only screen and (max-device-width: 780px) and (min-device-width: 480px) {
  .button {
    padding-left: 5em;
      }
    .img {
      height: 8em;
    }
 }